body{
    display: flex;
    flex-direction: column;
    gap: 0;
    margin: 0;
    padding: 20px;
    min-height: 80vh;
}

.header{
    background-color: rgb(182, 182, 182);
    padding: 10px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    box-shadow: 5px 5px gray;
    min-width: 960px;
}

.content{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    flex: 1;
    gap: 20px;
}

.title{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bolder;
    margin-right: auto;
}

.subtitle{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    max-width: 300px;
}

.sidebar{
    background-color:rgb(189, 238, 250);
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    min-width: 300px;
    box-shadow: 5px 5px gray;
    justify-content: center;
    align-items: center;
}

.scorebox{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
    gap: 10px;
    background-color: rgb(157, 243, 168);
    width: 250px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 5px 5px rgba(175, 175, 175, 0.664);
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    gap: 10px;
    background-color: rgb(157, 216, 243);
    width: 250px;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 5px 5px rgba(175, 175, 175, 0.664);
}

.scoreTitle{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    font-weight: bolder;
}

#player, #comp{
    font-weight: bold;
}

.game{
    background-color: rgb(182, 182, 182);
    flex: 1;
    box-shadow: 5px 5px gray;
    display: flex;
}

.buttons{
    height: inherit;
    display: flex;
    flex-direction:column;
    justify-content:space-evenly;
    align-items: center;
    flex: 1;
    max-width: 320px;
    min-width: 280px;
    background-color:rgb(216, 216, 216);
    box-shadow: 5px 5px rgba(119, 119, 119, 0.664);
    margin: 20px;
    border-radius: 10px;
}

.match.buttons{
    max-width: none;
    justify-content: flex-start;
}

img{
    width: 130px;
    height: 130px;
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    box-shadow: 5px 5px rgba(119, 119, 119, 0.664);
}

.activeimg{
    transform: scale(1.2);
    border-radius: 10px;
    border-width: 3px;
    border-style: solid;
    border-color: yellow;
    box-shadow: 5px 5px rgba(119, 119, 119, 0.664);
}

.play{
    height: 50px;
    width: 90%;
    min-width: 260px;
    margin-top: 20px;
    background-color: rgb(18, 216, 0);
    border-radius: 10px;
    box-shadow: 5px 5px rgba(119, 119, 119, 0.664);
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.versus{
    width: 90%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: inherit;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#winner{
    font-size: 50px;
    font-family: 'Lobster';
    text-align: center;
}

.overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    justify-content: center;
    align-items: center;
}

.msgBox{
    width: 700px;
    height: 300px;
    background-color: rgb(182, 182, 182);
    box-shadow: 5px 5px rgba(119, 119, 119, 0.664);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
}

#finalmsg, #finalmsg span{
    font-family: 'Lobster';
    font-size: 40px;
}

#finalmsg span:hover{
    color: rgb(0, 252, 21);
}